<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
     <script src="/javascripts/angular.min.js"></script> 
     <script src="/javascripts/freezer_app.js"></script>
     <script src="/javascripts/angular-ui-router.min.js"></script>
    



  </head>


  


  <body ng-app="freezerApp">

  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>

  <ui-view></ui-view>

  
  
  </body>
</html>
