<div class="page-header">
    <h1 align="center">Administration</h1>


    <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Administrative Menu
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li ><a href="/#/admin/edit_users">Users</a></li>
    <li ><a href="#/admin/edit_freezers" >Freezers</a></li>


  </ul>
</div>

<div ui-view></div>




