<div class="page-header">
    <h1 align="center">Administration</h1>


    <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Administrative Menu
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li ><a href="#"  ng-click="setActiveItem('users')" >Users</a></li>
    <li ><a href="#"  ng-click="setActiveItem('Freezers')" >Freezers</a></li>
  </ul>
</div>



<div class="container-fluid" ng-show="isActiveItem('users')">
    <row>

    <div class="col-md-12">


    <h2>Edit User</h2>

    <p>Select User: </p><select ng-model="default_user" ng-options="user.username for user in user_list" ></select>

    <div><label for="a">Administrator </label><input type="checkbox" id="a" ng-model="default_user.admin" ng-true-value="true" ng-false-value="false"></div>
    <div><label for="b">Approved </label><input type="checkbox" id = "b" ng-model="default_user.approved" ng-true-value="true" ng-false-value="false"></div>

   
    <button class="btn btn-default" role="button" ng-click="edit_user()">Save User Changes</button>
    <button class="btn btn-default" role="button" ng-click="delete_user()">Delete User</button>

    


    <h2>Unapproved Users</h2>


     

     <table class="table">
        <thead><th>Username</th><th>Administrator</th><th>Approved</th></thead>
        <tr ng-repeat="user in user_list" ng-hide="user.approved"><td>{{user.username}}</td><td>{{user.admin}}</td><td>{{user.approved}}</td></tr>

    


    </table>

    




</div>









</div>