
  <div class="page-header">
    <h1>Freezer Home</h1>

  </div>

  


  

    <div class ="container-fluid">

       <h1>Add Freezer</h1>


  
    <input type="text" name="input" ng-model="freezer.freezername" ng-click="freezer.freezername = ''">
    <input type="text" name="input" ng-model="freezer.building" ng-click="freezer.building = ''">
    <input type="text" name="input" ng-model="freezer.floor" ng-click="freezer.floor = ''">
    <input type="text" name="input" ng-model="freezer.room" ng-click="freezer.room = ''">
    <input type="text" name="input" ng-model="freezer.shelves" ng-click="freezer.shelves = ''">
    <input type="text" name="input" ng-model="freezer.racks" ng-click="freezer.racks = ''">
    <button class="btn btn-default" role="button" ng-click="add_freezer()">Add Freezer</button>



    <h1>Freezer Information</h1>

    
    <p>Select Freezer: </p><select ng-model="default_freezer" ng-options="freezer.freezername for freezer in freezers" ></select>

    <div class="container-fluid">
    <row>

    <div class="col-md-6">

    <table class="table">
    	<thead><th>Name</th><th>Building</th><th>Floor</th><th>Room</th><th>Shelves</th><th>Racks</th></thead>
    	<tr><td>{{default_freezer.freezername}}</td><td>{{default_freezer.building}}</td><td>{{default_freezer.floor}}</td><td>{{default_freezer.room}}</td><td>{{default_freezer.shelves}}</td><td>{{default_freezer.racks}}</td><tr>

    <p>{{freezers}}</p>



    </table>




     

    <h1>Edit Freezer</h1>

    <p>Select Freezer: </p><select ng-model="default_freezer" ng-options="freezer.freezername for freezer in freezers" ></select>

    <input type="text" name="input" ng-model="default_freezer.freezername" ng-click="freezer.freezername = ''">
    <input type="text" name="input" ng-model="default_freezer.building" ng-click="freezer.building = ''">
    <input type="text" name="input" ng-model="default_freezer.floor" ng-click="freezer.floor = ''">
    <input type="text" name="input" ng-model="default_freezer.room" ng-click="freezer.room = ''">
    <input type="text" name="input" ng-model="default_freezer.shelves" ng-click="freezer.shelves = ''">
    <input type="text" name="input" ng-model="default_freezer.racks" ng-click="freezer.racks = ''">
    


    
    
    

    </div>


    <row>

</div>

  <!-- rest of template -->
