
<div class="page-header">

    <h1>Freezer Home</h1>


     <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Freezer Menu
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ><a href="/#/freezers/browse_freezers">Browse Freezers</a></li>
            <li ><a href="/#/freezers/sample_search" >Search for Samples</a></li>
            <li ><a href="/#/freezers/add_box" >Add Box to Rack</a></li>
            <li ><a href="/#/freezers/add_samples" >Add Samples to Box</a></li>
        </ul>

    </div>

</div>




<div ui-view></div>