
  <div class="page-header">

    <h1>Freezer Home</h1>


     <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Freezer Menu
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li ><a href="#">Browse Freezers</a></li>
    <li ><a href="#" >Search for Samples</a></li>
    <li ><a href="#" >Add Samples</a></li>
  </ul>

  </div>



  


  

    <div class ="container-fluid">
    <row>
    <h1>Freezer Information</h1>

  

    </row>

    <row>

    <div class="col-md-2">
    
    <p>Select Freezer: </p><select ng-model="default_freezer" ng-options="freezer.freezername for freezer in freezers" ></select>

    <div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can view the freezers.</h3>
</div>

    </div>

    
    



    <div class="col-md-10">

    <table class="table">
        <thead><th>Name</th><th>Building</th><th>Floor</th><th>Room</th></thead>
        <tr><td>{{default_freezer.freezername}}</td><td>{{default_freezer.building}}</td><td>{{default_freezer.floor}}</td><td>{{default_freezer.room}}</td>

    </table>

    </row>



   

</div>





<div class="container-fluid">

<div class="row">

        <div class="col-md-6">

        <ul>


        <li ng-repeat="model_shelf in default_freezer.shelves" class="panel panel-default" style="display: inline;" >{{model_shelf.shelf_name}}
            <ul><li ng-repeat="model_rack in model_shelf.racks" class="panel panel-default" style="display: inline" >{{model_rack.rack_name}}


            
            </li></ul>

        </li>




        </ul>

        </div>

        <div class="col-md-6">

        <table>


        <tr ng-repeat="model_row in default_freezer.shelves">{{model_row}}</tr>






        </table>

       






        </div>


</div>

</div>






    <h1>Add Freezer</h1>


  
    <input type="text" name="input" ng-model="freezer.freezername" ng-click="freezer.freezername = ''" placeholder="Freezer Name">
    <input type="text" name="input" ng-model="freezer.building" ng-click="freezer.building = ''" placeholder="Building">
    <input type="text" name="input" ng-model="freezer.floor" ng-click="freezer.floor = ''" placeholder="Floor">
    <input type="text" name="input" ng-model="freezer.room" ng-click="freezer.room = ''" placeholder="Room">
    <button class="btn btn-default" role="button" ng-click="add_freezer()" ng-show="isLoggedIn()">Add Freezer</button>
    <br>
    
    <br>
    <div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a freezer.</h3>
</div>
    



    




     

    <h1>Edit/Delete Freezer</h1>

    <p>Select Freezer: </p><select ng-model="default_freezer" ng-options="freezer.freezername for freezer in freezers" ></select>

    <input type="text" name="input" ng-model="default_freezer.freezername" ng-click="freezer.freezername = ''" placeholder="Freezer Name">
    <input type="text" name="input" ng-model="default_freezer.building" ng-click="freezer.building = ''" placeholder="Building">
    <input type="text" name="input" ng-model="default_freezer.floor" ng-click="freezer.floor = ''" placeholder="Floor">
    <input type="text" name="input" ng-model="default_freezer.room" ng-click="freezer.room = ''" placeholder="Room">
    <button class="btn btn-default" role="button" ng-click="update_freezer()" ng-show="isLoggedIn()">Save Changes</button>
    <button class="btn btn-default" role="button" ng-click="delete_freezer()" ng-show="isLoggedIn()">Delete Freezer</button>
    <br>
    <br>
    <p>Add Shelf To Freezer: </p>
    <input type="text" name="input" ng-model="shelf.shelf_name" ng-click="shelf.shelf_name = ''" placeholder="Shelf Name">
    <input type="text" name="input" ng-model="shelf.rack_spaces" ng-click="shelf.rack_spaces = ''" placeholder="Rack Spaces">
    <button class="btn btn-default" role="button" ng-click="add_shelf()" ng-show="isLoggedIn()">Add Shelf</button>
    <br>
    <p>Add Rack to Shelf: </p>
    <br>
    <p>Select Shelf To Add Rack To: </p><select ng-model="rack_shelf" ng-options="shelf as shelf.shelf_name for shelf in default_freezer.shelves"></select>
    <p>Select Shelf Position To Add Rack To: </p><select ng-model="rack_index" ng-options="rack_shelf.racks.indexOf(rack) as rack.rack_name + (' (' +(rack_shelf.racks.indexOf(rack) + 1) + ')') for rack in rack_shelf.racks"></select>

  

    <br><br>
    
       
    <br>
    <br>

    
    <br>
    <br>



    
    <input type="text" name="input" ng-model="rack.rack_name" ng-click=" = ''" placeholder="Rack Name">
    <input type="text" name="input" ng-model="rack.row_count" ng-click=" = ''" placeholder="Rack Rows">
    <input type="text" name="input" ng-model="rack.column_count" ng-click=" = ''" placeholder="Rack Columns">
    <button class="btn btn-default" role="button" ng-click="add_rack()" ng-show="isLoggedIn()">Add Rack to Shelf</button>

    <br><br>



    <p>Add Box to Rack: </p>
    <br>
    <p>Select Shelf To Add Box To: </p><select ng-model="box_shelf" ng-options="shelf as shelf.shelf_name for shelf in default_freezer.shelves"></select>



    
    <p>Select Rack To Add Box To: </p><select ng-model="box_rack" ng-options="rack as rack.rack_name for rack in box_shelf.racks"></select>


    <p>Select Row To Add Box To: </p><select ng-model="box_row" ng-options="row as row.row_name for row in box_rack.rows"></select>

    <p>Select Column To Add Box To: </p><select ng-model="box_column" ng-options="column as column.column_name for column in box_row.columns"></select>

    <input type="text" name="input" ng-model="box.box_name" ng-click=" = ''" placeholder="Box Name">

   

    <button class="btn btn-default" role="button" ng-click="add_box()" ng-show="isLoggedIn()">Add Box to Rack</button>

    {{box}}




     <p>Add Slide Sample(s) to Box: </p>
    <br>
    <p>Select Shelf To Add Sample(s) To: </p><select ng-model="sample_shelf" ng-options="shelf as shelf.shelf_name for shelf in default_freezer.shelves"></select>

  




    
    <p>Select Rack To Add Sample(s) To: </p><select ng-model="sample_rack" ng-options="rack as rack.rack_name for rack in sample_shelf.racks"></select>


    <p>Select Row To Add Sample(s) To: </p><select ng-model="sample_row" ng-options="row as row.row_name for row in sample_rack.rows"></select>

    <p>Select Column To Add Sample(s) To: </p><select ng-model="sample_column" ng-options="column as column.column_name for column in sample_row.columns"></select>

    <p>Box in this place: </p>

 
    {{sample_box}}

    <input type="text" name="input" ng-model="sample.group_name" ng-click=" = ''" placeholder="Group Name">
    <input type="text" name="input" ng-model="sample.subgroup_name" ng-click=" = ''" placeholder="Subgroup Name">
    <input type="text" name="input" ng-model="sample.sample_name" ng-click=" = ''" placeholder="Sample Name">
    <input type="text" name="input" ng-model="sample.slices_per_slide" ng-click=" = ''" placeholder="Slices Per Slide">
    <input type="text" name="input" ng-model="sample.slice_thickness" ng-click=" = ''" placeholder="Slice Thickness (um)">
    <input type="text" name="input" ng-model="sample.slice_spacing" ng-click=" = ''" placeholder="Slice Spacing (um)">
    <input type="text" name="input" ng-model="sample.date_sectioned" ng-click=" = ''" placeholder="Date Sectioned">
    <input type="text" name="input" ng-model="sample.quantity" ng-click=" = ''" placeholder="Number of Slides">
    <input type="text" name="input" ng-model="sample.start_space" ng-click=" = ''" placeholder="Start Space Number">


   

  



    <button class="btn btn-default" role="button" ng-click="add_sample()" ng-show="isLoggedIn()">Add Slide(s) to Box</button>
       

    <button class="btn btn-default" role="button" ng-click="boxContents(sample_box.box_ID)" ng-show="isLoggedIn()">Get Box Contents</button>



   

   <h1>Search:</h1>

    <input type="text" ng-model="query">
   <button class="btn btn-default" role="button" ng-click="search(query)" ng-show="isLoggedIn()">Search</button>

   <br>

   

   <h2>Search Results</h2>



   <p>Showing {{search_results.length}} search results</p>

   

    <div ng-repeat="result in search_results">



  

    <table class="table table-bordered">

    <div ng-repeat ="(key,value) in result">




    <tr>
    <th ng-repeat="(key,value) in result" ng-hide="key == 'box_ID' || key == 'date_created' || key =='author'" >{{key}}</th>
    </tr>

    <tr>
    <td ng-repeat="(key,value) in result" ng-hide="key == 'box_ID' || key == 'date_created' || key =='author'">{{value}}</td>
    </tr>

    <tr>
    <td style="font-weight:bold;">Location</td><td ng-repeat="(key,value) in box_locations[result.box_ID]" ><span style="font-weight:bold;">{{key}}</span><br><span>{{value}}</span></td>

  




    </tr>




    </div>

    


    

    </table>

    </div>
   

    </div>

    

 
 
  

   

   













    <div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can update or delete a freezer.</h3>
</div>


    
    
    

    </div>


    <row>


   
</div>

  <!-- rest of template -->
